.cityname{
    color: #4a4a4a;
    font-size: 3rem;
    font-weight: bolder;
}
.text{
    font-size: 1rem;
}

.heading{
    font-size: 2rem;
    font-weight: bolder;
}

.subheading{
    font-weight: bold;
    font-size: 1.5rem;
}

.subsubheading{
    font-weight: bold;
    font-size: 1.1rem;
}

.captioncustomcarousel{
    background-color: rgba(240,229,223,0.28)
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1250px;
}