@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@650&display=swap");

.navbar {
    background-color: unset;
    font-family: 'Spartan', sans-serif;
}

.cityname{
    color: #4a4a4a;
    font-size: 3rem;
    font-weight: bolder;
}
.text{
    font-size: 1rem;
}

.heading{
    font-size: 2rem;
    font-weight: bolder;
}

.subheading{
    font-weight: bold;
    font-size: 1.5rem;
}

.subsubheading{
    font-weight: bold;
    font-size: 1.1rem;
}

.captioncustomcarousel{
    color: white;
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1250px;
}

.has-bg-img {
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
            url('resources/stuttgart-291631.jpeg')center center; background-size:cover;
}

.nav-link{
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-toggler-icon{
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 2.75vw;
    color: white;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    .navbar-brand{
        font-weight: bolder;
        font-size: 4.75vw;
        color: white;
    }
}

.footer-img {
    filter: brightness(70%);
}

.footer{
    background-color: #fafafa;
    padding: 0.5rem 0.5rem 0.5rem;
}

.footer .content p{
    text-align: end;
    margin-bottom: 0px;
    font-size: 0.6rem;
}