@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@650&display=swap");

.lead{
    font-family: 'Spartan', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
body, html {
    height: 100%;
}

.bg {
    /* The image used */

    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ),
    url("resources/Altes-Rathaus-Bamberg.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    opacity: 0.9;
}

div.outer-div {
    height: 100%;
    width: 100%;
}

div.middle-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

